<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">

<script type="text/javascript" layout:fragment="custom-script" th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(
        function() {
            $('#pollBaseURL').val(
                "http://" + location.host
                + "/Service/Poll/SimpleMasterDataQuery?includeAttributes=true&includeChildren=true&masterDataFormat=XML&");
        });

    function poll() {
        var baseURL = $("#pollBaseURL").val();
        var params = $("#pollParam").val();
        var url = baseURL + params;
        var accessToken = [[${session.accessToken}]] ;
        $.ajaxSetup({
            headers:{
                'Authorization': accessToken
            }
        });
        $.get(
            url,
            function(ret) {
                console.log(ret);

                if (typeof ret == 'object') {
                    try {
                        $("#xmlTextArea").val(
                            (new XMLSerializer())
                                .serializeToString(ret)).hide()
                            .fadeIn();
                    } catch (e) {
                        $("#xmlTextArea").val(
                            JSON.stringify(ret, null, '\t')).hide()
                            .fadeIn();
                    }
                } else {
                    $("#xmlTextArea").val(ret).hide().fadeIn();
                }
            }).fail(function(e) {
            $("#xmlTextArea").val(e.responseText).hide().fadeIn();
        });
    }

    function addParam(type) {
        var curParam = $("#pollParam").val();
        curParam += type + "=" + $("#" + type).val() + "&";
        $("#pollParam").val(curParam);
    }

    function addFamParam(type, famType) {

        var curParam = $("#pollParam").val();
        curParam += type + "_" + $("#" + famType).val() + "="
            + $("#" + type).val() + "&";

        $("#pollParam").val(curParam);
    }

    function movePage(page) {
        document.location.href = page;
    }

    function reset() {
        $('#pollParam').val('');
    }
    /*]]>*/
</script>

<body>
    <div layout:fragment="content">
        <div class="panel panel-info">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                        aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">EPCIS Master Query Client</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <form class="navbar-form navbar-right">
                    <button type="button" class="btn btn-success"
                            onclick="movePage('/home')">Back</button>
                </form>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4">
                        <h4>EPCIS Master Query URL (Change IP or Domain if needed) (HTTP.GET)</h4>
                        <input id="pollBaseURL" type="text" class="form-control"
                               placeholder="http://localhost:8099/Service/Poll/SimpleMasterDataQuery" />

                        <input id="pollParam" type="text" class="form-control"
                               placeholder="POLL PARAMETERS" />
                        <button type="button" class="btn btn-info" onclick="poll()">Poll
                            SimpleEventQuery</button>
                        <button type="reset" class="btn btn-danger" onclick="reset()">Reset
                            Params</button>
                        <br />

                    </div>
                    <div class="col-sm-8">
                        <h4>Query Response</h4>
                        <textarea id="xmlTextArea" class="form-control auto-text-area"
                                  rows="16"></textarea>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <td>Method Name</td>
                        <td>Description</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Poll</td>
                        <td>
                            <ul class="list-group">
                                <li class="list-group-item">Return events/vocabularies
                                    stored in the EPCIS repository in interest immediately</li>
                                /*<![CDATA[*/
                                <li class="list-group-item">URL:
                                    http://{base-url}:{base-port}/Service/Poll/SimpleMasterDataQuery?includeAttributes=true&includeChildren=true&masterDataFormat=XML&</li>
                                /*]]>*/
                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon" id="basic-addon3">vocabularyName</span>
                                    <input id="vocabularyName" type="text" class="form-control"
                                           placeholder="VSV, Regex (e.g., urn:epcglobal:epcis:vtype:BusinessLocation)"
                                           aria-describedby="basic-addon3"
                                           onkeydown="if (event.keyCode == 13) addParam('vocabularyName')" />
                                    <span class="input-group-btn" aria-describedby="basic-addon3">
                                                <button class="btn btn-default" type="button"
                                                        onclick="addParam('vocabularyName')">ADD</button>
                                            </span>
                                </div>
                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon" id="basic-addon3">includeAttributes</span>
                                    <input id="includeAttributes" type="text" class="form-control"
                                           placeholder="true or false (required)"
                                           aria-describedby="basic-addon3"
                                           onkeydown="if (event.keyCode == 13) addParam('includeAttributes')" />
                                    <span class="input-group-btn" aria-describedby="basic-addon3">
                                                <button class="btn btn-default" type="button"
                                                        onclick="addParam('includeAttributes')">ADD</button>
                                            </span> <span class="input-group-addon" id="basic-addon3">includeChildren</span>
                                    <input id="includeChildren" type="text" class="form-control"
                                           placeholder="true or false (required)"
                                           aria-describedby="basic-addon3"
                                           onkeydown="if (event.keyCode == 13) addParam('includeChildren')" />
                                    <span class="input-group-btn" aria-describedby="basic-addon3">
                                                <button class="btn btn-default" type="button"
                                                        onclick="addParam('includeChildren')">ADD</button>
                                            </span>
                                </div>
                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon" id="basic-addon3">attributeNames</span>
                                    <input id="attributeNames" type="text" class="form-control"
                                           placeholder="VSV (e.g., http://epcis.example.com/mda/latitude)"
                                           aria-describedby="basic-addon3"
                                           onkeydown="if (event.keyCode == 13) addParam('attributeNames')" />
                                    <span class="input-group-btn" aria-describedby="basic-addon3">
                                                <button class="btn btn-default" type="button"
                                                        onclick="addParam('attributeNames')">ADD</button>
                                            </span>
                                </div>

                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon" id="basic-addon3">EQ_name</span>
                                    <input id="EQ_name" type="text" class="form-control"
                                           placeholder="VSV, Regex (e.g., urn:epc:id:sgln:0037000.00729.0)"
                                           aria-describedby="basic-addon3"
                                           onkeydown="if (event.keyCode == 13) addParam('EQ_name')" />
                                    <span class="input-group-btn" aria-describedby="basic-addon3">
                                                <button class="btn btn-default" type="button"
                                                        onclick="addParam('EQ_name')">ADD</button>
                                            </span> <span class="input-group-addon" id="basic-addon3">WD_name</span>
                                    <input id="WD_name" type="text" class="form-control"
                                           placeholder="VSV, Regex" aria-describedby="basic-addon3"
                                           onkeydown="if (event.keyCode == 13) addParam('WD_name')" />
                                    <span class="input-group-btn" aria-describedby="basic-addon3">
                                                <button class="btn btn-default" type="button"
                                                        onclick="addParam('WD_name')">ADD</button>
                                            </span>
                                </div>

                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon" id="basic-addon3">HASATTR</span>
                                    <input id="HASATTR" type="text" class="form-control"
                                           placeholder="VSV (e.g., http://epcis.example.com/mda/latitude)"
                                           aria-describedby="basic-addon3"
                                           onkeydown="if (event.keyCode == 13) addParam('HASATTR')" />
                                    <span class="input-group-btn" aria-describedby="basic-addon3">
                                                <button class="btn btn-default" type="button"
                                                        onclick="addParam('HASATTR')">ADD</button>
                                            </span>
                                </div>

                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon" id="basic-addon3">EQATTR_</span>
                                    <input id="eqAttrType" type="text" class="form-control"
                                           placeholder="Attribute Type (e.g., http://epcis.example.com/mda/latitude)"
                                           aria-describedby="basic-addon3" /> <input id="EQATTR"
                                                                                     type="text" class="form-control"
                                                                                     placeholder="Attribute Value Type-awareable VSV (e.g., .18.00..^regex)"
                                                                                     aria-describedby="basic-addon3" /> <span
                                        class="input-group-btn" aria-describedby="basic-addon3">
                                                <button class="btn btn-default" type="button"
                                                        onclick="addFamParam('EQATTR','eqAttrType')">ADD</button>
                                            </span>
                                </div>

                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon" id="basic-addon3">maxElementCount</span>
                                    <input id="maxElementCount" type="number" class="form-control"
                                           placeholder="Yield error if # of events exceeds specified number"
                                           aria-describedby="basic-addon3"
                                           onkeydown="if (event.keyCode == 13) addParam('maxElementCount')" />
                                    <span class="input-group-btn" aria-describedby="basic-addon3">
                                                <button class="btn btn-default" type="button"
                                                        onclick="addParam('maxElementCount')">ADD</button>
                                            </span>
                                </div>

                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon" id="basic-addon3">GE_masterTime</span>
                                    <input id="GE_masterTime" type="text" class="form-control"
                                           placeholder="yyyy-mm-dd hh:mm:ss"
                                           aria-describedby="basic-addon3"
                                           onkeydown="if (event.keyCode == 13) addParam('GE_masterTime')" />
                                    <span class="input-group-btn" aria-describedby="basic-addon3">
                                                <button class="btn btn-default" type="button"
                                                        onclick="addParam('GE_masterTime')">ADD</button>
                                            </span> <span class="input-group-addon" id="basic-addon3">LE_masterTime</span>
                                    <input id="LE_masterTime" type="text" class="form-control"
                                           placeholder="yyyy-mm-dd hh:mm:ss"
                                           aria-describedby="basic-addon3"
                                           onkeydown="if (event.keyCode == 13) addParam('LE_masterTime')" />
                                    <span class="input-group-btn" aria-describedby="basic-addon3">
                                                <button class="btn btn-default" type="button"
                                                        onclick="addParam('LE_masterTime')">ADD</button>
                                            </span>
                                </div>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div layout:fragment="custom-footer">
        &copy; BIBA 2019; Auto-ID Labs, KAIST 2017
    </div>
</body>
</html>